<div class="clearfix">
  
  <%= image_tag @tour.image.url(:medium), :class => "img-thumbnail pull-left", :style => "margin-right:20px;" %>

  <h2><%= @tour.title %></h2>
 
 
  <h5><strong>Cost: </strong> € <%= @tour.cost.round(2) %><small>/per person</small> </h5>
 
  <h5><strong>Location: </strong> <%= @tour.location %> </h5>
 
  <strong>Average Rating:</strong>
   <div class="rateit" data-rateit-value="<%= @avg_review %>" data-rateit-readonly="true"></div>
   <em><%= "#{@review.length} review(s)" %></em>
</p>
<p>
  <strong>Created:</strong>
  <%= time_ago_in_words(@tour.created_at) %> ago
</p> 
 
  <%=link_to 'Order Tour Now', tour_times_path(:tour_id => @tour.id),  :class=> "btn btn-primary  " %>
 
 
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit Tour', edit_tour_path(@tour), :class => "btn btn-info" %>

<% end %>
</div>
<br />
<p>
  <h4>Description:</h4>
  <%=raw @tour.description %>
</p>

<br />
<%= link_to "Write a Review ", new_tour_review_path(@tour), :class=> "btn btn-block btn-warning btn-sm" %>
<hr />
<% if @review.blank? %>
  <h3>No reviews yet, Add some</h3>
  <% else %>
    <% @review.each do | review | %>
    
    <div class="well">
      <dl>
        <dt style="padding-bottom:10px;"><%= review.user.email %></dt>
        <dd style="padding-bottom:10px;"><div class="rateit align-left" data-rateit-value="<%= review.rating %>" data-rateit-readonly="true"></div> <em><%= time_ago_in_words(review.created_at)%> ago</em></dd>
        <dd><%= review.comment %></dd>
      </dl>
    </div>
  <% end %>
<% end %> 
 