<div class="row">
<div class="col-md-10 col-md-offset-1" role="main"> 
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

 


  <div class="form-group">
    <%= f.label :email, :class => "control-label" %><br />
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Login Now", :class => "btn btn-default " %>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
<br />
</div>
</div>
<hr />
<div class="row">
<div class="col-md-10 col-md-offset-1" role="main"> 
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">List Of Demo Accounts</div>

  <!-- Table -->
  <table class="table">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th width="150">Type</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><strong>Admin Account</strong></td>
      <td>test@test.com</td>
      <td>password</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><strong>User Account</strong></td>
      <td>keith@test.com</td>
      <td>password</td>
    </tr>

  </tbody>
</table>
  </table>
</div>
</div>
 </div>