  <div class="row passenger_details">
    <div class="col-md-10 col-md-offset-1">

      <div class="row">
        <h2>Tour Details</h2>
        <p>Below is a summary of your order:</p>
        
        <div class=" col-md-12 well flight-details">
          <div class"panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Booking No:</th>
                  <th>Tour Name</th>
                  <th>Departure Date</th>
                  <th>Departure Time</th>
                  <th>Total</th>
                </tr>
              </thead>

              <tbody>
                <tr style="text-align:cente">
                  <td>#<%= @tour_time.id %></td>
                  <td><%= @tour_time.tour.title %></td>
                  <td><%= @tour_time.departure_date.strftime("%d/%m/%Y") %></td>
                  <td><%= @tour_time.departure_date.strftime("%H:%M") %></td>
                  <td>$19.99</td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          </div>
 

             <%= form_for @booking, :html => { :class => "form-horizontal" } do |tour_time|  %>
        <% if @booking.errors.any? %>
          <div id="error_explanation">

            <h2>
              <%= pluralize(@booking.errors.count, "error") %> 
            </h2>
 
            <ul>
              <% @booking.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <h2>Passenger Details</h2>
        <p>Please enter passenger details for flight:</p>
        <% passenger_num = 1 %>

        <%= tour_time.fields_for :passengers do |passenger| %>
          <div class="row">
            <div class="col-md-12 well passenger-box">
              <h3>Passenger <%= passenger_num %></h3>
              <% passenger_num += 1 %>

              <div class="form-group">
		            <%= passenger.label :first_name, "First Name:", class: "control-label col-sm-3"%>
                <div class="col-md-9">
		              <%= passenger.text_field :first_name, class: "form-control"%>
                </div>
              </div>

              <div class="form-group">
		            <%= passenger.label :last_name, "Last Name:", class: "control-label col-sm-3"%>
                <div class="col-md-9">
		              <%= passenger.text_field :last_name, class: "form-control"%>
                </div>
              </div>
              
              <div class="form-group">
		            <%= passenger.label :email, "Email :", class: "control-label col-sm-3"%>
                <div class="col-md-9">
		              <%= passenger.email_field :email, class: "form-control"%>
                </div>
              </div>              
              <div class="form-group">
		            <%= passenger.label :dob, "Date of Birth:", class: "control-label col-sm-3" %>
                <div class="col-md-9">
		              <%= passenger.date_field :dob, class: "form-control" %>
                </div>
              </div>

            </div>
          </div>
	     <% end %>

        <%= hidden_field_tag(:passengers, params[:passengers]) %>
        <%= tour_time.hidden_field :tour_id, value: params[:tour_id] %>
        <%= hidden_field_tag(:tour_id, params[:tour_id]) %>
        <%= tour_time.hidden_field :tour_time_id, value: params[:tour_time_id] %>
        <%= hidden_field_tag(:tour_time_id, params[:tour_time_id]) %>
  
	       <%= tour_time.submit "Book Tour", class: "btn btn-success btn-lg col-md-4 col-md-offset-4" %>
	       
      <% end %>
  
  </div>
</div>
    <br />
